* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 706px;
    margin: 0 auto;
    font: 11px Tahoma, sans-serif;
    background-color: #e7e5c8;
    color: #6a684d;
}

h1,
h2,
h3 {
    font: bold 14px "Times New Roman", serif;
    color: #6e6b3d;
}

h1 {
    padding-bottom: 15px;
    text-indent: 38px;
}

h2 {
    padding-bottom: 14px;
}

.first-letter {
    color: #90aa1f;
}

a {
    color: #90aa1f;
}

a:hover {
    text-decoration: none;
}

p {
    margin-bottom: 10px;
}

/* ---------------------------------------- Header */
.header {
    height: 87px;
    position: relative;
}

.header-logo {
    position: absolute;
    top: 28px;
    left: 22px;
}

.header-phones {
    background-image: url("../images/phone.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 1px;
    right: -26px;
    width: 274px;
    height: 88px;
    z-index: 1;
    text-indent: -13px;
    color: #f9f9f2;
    font-weight: bold;
    padding: 25px 0 0 119px;
}

.header::after {
    content: '';
    border-top: 1px solid #c0bd9a;
    border-bottom: 1px solid #f1f0e0;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

/*----------------------------------------------------------------ABOUT COMPANY AND MAIN PHOTO*/
.about-container {
    background: url("../images/ho.jpg") no-repeat 32px 48px;
    padding: 18px 0 0 390px;
    min-height: 345px;
    position: relative;
}

.about-container::after {
    content: '';
    border-top: 1px solid #c0bd9a;
    border-bottom: 1px solid #f1f0e0;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

/*---------------------------------------------------------------------------SECTION WITH 3 SECTIONS*/
.sections {
    background-color: #dedbbb;
    position: relative;
    display: flex;
    padding: 7px 0;
    border-radius: 3px;
}

/*----------------------------------------------------------------------GALLERY SECTION*/
.section-gallery {
    width: 242px;
    border-right: 1px solid #f1f0e0;
    padding-left: 16px;
}

.gallery-photo {
    background-color: #b7b192;
    width: 95px;
    height: 54px;
    border-radius: 4px;
    display: inline-block;
    margin: 0 4px 6px 0;
}

.room {
    width: 74px;
    height: 48px;
    margin: 3px 10px 3px 3px;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 3px;
}

.room1 {
    background-image: url("../images/room_1.jpg");
}

.room2 {
    background-image: url("../images/room_2.jpg");
}

.room3 {
    background-image: url("../images/room_3.jpg");
}

.room4 {
    background-image: url("../images/room_4.jpg");
}

/*-----------------------------------------------------------------------OUR OFFER SECTION*/
.section-our-offer {
    width: 243px;
    padding-left: 16px;
    padding-right: 15px;
    border-left: 1px solid #c0bd9a;
    border-right: 1px solid #f1f0e0;
}

.offer-photo {
    width: 211px;
    min-height: 54px;
    border: 3px solid #b7b192;
    border-radius: 4px;
    background-image: url("../images/tree.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 12px;
}

i {
    color: #90aa1f;
    font-weight: bold;
    font-style: normal;
}

b {
    font-weight: bold;
}

/*-------------------------------------------------------------------OUR SERVICES SECTION*/
.section-our-services {
    width: 217px;
    padding-left: 16px;
    border-left: 1px solid #c0bd9a;
}

.section-our-services::after {
    clear: both;
    content: "";
    display: block;
}

ul {
    padding-left: 13px;
    position: relative;
}

li {
    text-decoration: underline;
    line-height: 16px;
}

li a {
    color: #6a684d;
}

li:last-child {
    white-space: nowrap;
}

.services-paragraph {
    padding-top: 18px;
}

.elephant-photo {
    width: 79px;
    height: 144px;
    background-image: url("../images/elephant.jpg");
    float: right;
    margin-left: 5px;
    transform: translate(-3px, -10px);
}

/*----------------------------------------------------------------------------FOOTER*/
.footer {
    position: relative;
}

.footer::after {
    clear: both;
    content: "";
    display: block;
}

.map {
    display: inline-block;
    float: right;
    margin-top: 28px;
    transform: translate(-7px, 0);
}

h3 {
    text-indent: 4px;
    padding-bottom: 4px;
}

.welcome-photo {
    background-image: url("../images/welcome.jpg");
    width: 44px;
    height: 73px;
    margin-left: 11px;
    display: inline-block;
    text-align: left;
    position: absolute;
    top: 19px;
}

.butterfly-photo {
    background-image: url("../images/map.jpg");
    width: 63px;
    height: 62px;
    display: inline-block;
    position: absolute;
    top: 12px;
    right: 203px;
}
