/*
    Основной шрифт страницы
    font-family: Verdana;

    Для заголовка "Карта рынка труда России" используется
    font-family: "Times New Roman";

    Для footer
    font-family: Tahoma;
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font: 13px Verdana, serif;
}

a {
    color: #676767;
}

a:hover {
    text-decoration: none;
}

h1 {
    font: 26px bold, "Times New Roman", serif;
    padding: 15px 0 15px 40px;
}

.header-items a {
    color: #ffffff;
}

p {
    padding: 0 70px 15px 40px;
    font-size: 12px;
}

/*------------------------------------------------------------------Header links*/
.header-links-container {
    background-color: #ececec;
}

.header-links {
    font-size: 11px;
    width: 1012px;
    margin: 0 auto;
    padding: 6px 12px 8px 0;
}

.header-links a {
    margin-right: 12px;
}

.header-links .help-link {
    float: right;
}

/*-------------------------------------------------------------------Header items*/
.header-items-container {
    min-height: 107px;
    width: 100%;
    background-color: #218fbb;
}

.header-items,
.navigation-links {
    width: 1012px;
    margin: 0 auto;
}

.logo img {
    margin: 3px 6px 11px 8px;
}

.module-news {
    width: 370px;
    height: 27px;
    border: 3px solid #ffffff;
    border-radius: 6px;
    display: inline-block;
    font-size: 11px;
    padding: 2px 10px;
    text-align: center;
    position: relative;
    background-color: #1f6987;
    color: #ffffff;
}

.module-news .previous-news,
.module-news .next-news {
    width: 20px;
    height: 23px;
    background: transparent;
    border: none;
    cursor: pointer;
}

.module-news .previous-news {
    position: absolute;
    left: -1px;
    top: -1px;
}

.module-news .next-news {
    position: absolute;
    right: -1px;
    top: -1px;
}

.module-news .previous-news::after {/* TODO: buttons with hover */
    content: "";
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-right: 7px solid #ffffff;
    position: absolute;
    top: 4px;
    left: 4px;
}

.module-news .next-news::after {
    content: "";
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 7px solid #ffffff;
    position: absolute;
    top: 4px;
    right: 4px;
}

.login,
.registration {
    min-height: 36px;
    border-radius: 6px;
    display: inline-block;
    margin-top: 18px;
    font-weight: bold;
}

.login {
    width: 100px;
    padding: 10px 13px 10px 42px;
    background-image: url("../images/login-button-background.gif");
    margin-right: 10px;
    margin-left: 17px;
}

.registration {
    width: 166px;
    padding: 10px 21px 10px 54px;
    background-image: url("../images/registration-button-background.gif");
}

/*----------------------------------------------------------------Main content*/
.page {
    width: 1012px;
    min-height: 715px;
    margin: 0 auto;
    background-color: #043a4f;
    border-radius: 0 0 4px 4px;
    padding: 6px;
}

/*-----------------------------------------------------------------Navigation tabs*/
.navigation-tabs {
    margin: -37px -6px 6px;
}

.navigation-tabs a {
    display: inline-block;
    background-color: #0b6588;
    width: 128px;
    min-height: 31px;
    border-radius: 7px 7px 0 0;
    text-align: center;
    padding: 7px 0 7px 0;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
}

.navigation-tabs a:hover {
    text-decoration: underline;
}

.navigation-tabs a.personal-cabinet {
    width: 143px;
    background-color: #89c160;
}

.navigation-tabs a.logout {
    width: 92px;
    background-color: #74b8d2;
    margin: 0 0 0 54px;
}

.navigation-tabs a.active {
    background-color: #043a4f;
}

/*---------------------------------------------------------------- Module: Banner */
.module-banner {
    min-height: 187px;
    background-color: #1f617a;
    color: #ffffff;
    border-radius: 6px 0 6px 6px;
    position: relative;
}

.module-banner .toggler {
    width: 28px;
    height: 17px;
    background-color: #1f617a;
    position: absolute;
    top: -17px;
    right: 0;
    border: none;
    border-radius: 5px 5px 0 0;
}

.module-banner .toggler::before {
    content: "";
    position: absolute;
    right: 7px;
    top: 7px;
    width: 0;
    height: 0;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    border-top: 9px solid #cdf1ff;
}

.module-banner .pagination {
    position: absolute;
    top: 13px;
    right: 132px;
}

.module-banner .pagination .item {
    width: 25px;
    height: 25px;
    background-color: #218fbb;
    display: inline-block;
    border-radius: 5px;
    text-align: center;
    padding: 4px 0;
    font-weight: bold;
    border: none;
    color: #fff;
    cursor: pointer;
}

.module-banner .pagination .item.active,
.module-banner .pagination .item:hover {
    background-color: #2fbaf1;
}

.module-banner .previous,
.module-banner .next {
    width: 25px;
    height: 25px;
    background-color: #218fbb;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.module-banner .previous:hover,
.module-banner .next:hover {
    background-color: #2fbaf1;
}

.module-banner .previous {
    position: absolute;
    top: 152px;
    left: 7px;
}

.module-banner .next {
    position: absolute;
    top: 152px;
    right: 7px;
}

.module-banner .previous::before {
    content: "";
    position: absolute;
    left: 3px;
    top: 3px;
    width: 0;
    height: 0;
    border-top: 9px solid transparent;
    border-bottom: 9px solid transparent;
    border-right: 17px solid #ffffff;
}

.module-banner .next::before {
    content: "";
    position: absolute;
    right: 3px;
    top: 3px;
    width: 0;
    height: 0;
    border-top: 9px solid transparent;
    border-bottom: 9px solid transparent;
    border-left: 17px solid #ffffff;
}

/*---------------------------------------------------------------- Module: XXX */
.module-xxx {
    min-height: 510px;
    background-color: #ffffff;
    margin-top: 6px;
    border-radius: 6px;
}

/*------------------------------------------------------------------------ Footer */
.footer {
    width: 1012px;
    margin: 0 auto;
    font: 11px Tahoma;
    padding: 25px 10px 20px 16px;
}

.footer a {
    margin-right: 37px;
}

.footer .legal-agreements {
    float: right;
    color: #043a4f;
    margin-right: 0;
}
