* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    color: #fff;
    font: 12px Tahoma, sans-serif;
    letter-spacing: 0.7px;
    display: flex;
    flex-direction: column;
    background: #000;
    min-width: 1014px;
}

.content-container {
    width: 1014px;
    margin: 0 auto;
    padding: 0 20px;
}

h2 {
    color: #fd6703;
    font: bold 18px Arial, sans-serif;
    margin-bottom: 20px;
}

h3 {
    color: #fd6703;
    font: 18px Arial, sans-serif;
    margin-bottom: 10px;
}

p {
    margin-bottom: 15px;
}

ul {
    color: #d6d5d5;
    font-weight: bold;
    margin-left: 27px;
    list-style: none;

    li {
        position: relative;
        margin-bottom: 16px;

        &::before {
            content: "";
            width: 9px;
            height: 9px;
            position: absolute;
            top: 3px;
            left: -20px;
            background-image: url("../images/list-dot.png");
        }
    }
}

a {
    color: #e5e5e5;

    &:hover {
        text-decoration: none;
    }
}

/* -------------------------------------------------- Header */
.header {
    background: linear-gradient(180deg, #2f3339 11px, #17181b 80px, #000000 80px, #000000 233px, #2f3339 233px, #16181b 321px, #000000);

    .content-container {
        min-height: 284px;
        background: url("../images/auto.png") no-repeat 82% 36%;
        position: relative;

        .logo {
            position: absolute;
            top: 28%;
            left: 8%;
        }
    }
}

/* -------------------------------------------------- Navigation */
.navigation {
    background: linear-gradient(180deg, #fd6c03, #fd5103);
    margin-bottom: 26px;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;

    .content-container {
        min-height: 39px;
    }

    .navigation-menu {
        a {
            display: inline-block;
            text-decoration: none;
            color: #23262b;
            min-width: 171px;
            height: 33px;
            border-radius: 0 0 10px 10px;
            text-align: center;
            font-weight: bold;
            font-size: 16px;
            margin-right: -5px;
            padding: 11px 5px 2px;
            letter-spacing: 1.5px;
            margin-top: -1px;
            font-family: Arial, sans-serif;

            &.active,
            &:hover {
                color: #fd6703;
                border: 1px solid #000000;
                border-top: none;
                background: linear-gradient(180deg, #212428 16px, #000000 96px);
            }
        }
    }
}

/* -------------------------------------------------- Main: General styles */
.main {
    background-color: #2f3239;
    flex-grow: 1;
    display: flex;

    .content-container {
        display: flex;

        .column {
            width: 33.333%;
            padding: 10px 20px;
            border-right: 1px dashed #a9a9a9;
        }

        .column:first-child {
            border-left: 1px dashed #a9a9a9;
        }
    }
}

/* -------------------------------------------------- Gallery */
.gallery {
    text-align: center;

    a {
        text-decoration: none;

        img {
            width: 133px;
            height: 90px;
            border: 6px solid #fbfcfc;
            margin: 0 4px 18px 0;
        }

        &:nth-child(even) img {
            margin-right: 0;
        }
    }
}

/* -------------------------------------------------- Footer */
.footer {
    color: #d6d5d5;
    border-bottom: 9px solid #fd6a03;

    .content-container {
        min-height: 108px;
        padding-top: 20px;
        padding-left: 40px;
    }
}
